In [1]:
from gcp_fx import (
    PROJECT_ID, 
    CREDENTIALS, 
    print_meta_data,
    query_bq,
    delete_bq_table,
)

import pandas as pd

In [2]:
(
    pd.read_parquet('../feature_engineering/titanic.parquet')
    .pipe(print_meta_data)
    .to_gbq('titanic.passengers',if_exists='replace',project_id=PROJECT_ID)
)

shape = (891, 13)
columns =  ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'event_timestamp']

100%|██████████| 1/1 [00:00<?, ?it/s]

In [3]:
query_bq('''select count(*) from titanic.passengers ''')

shape = (1, 1)
columns =  ['f0_']

   f0_
0  891

In [4]:
delete_bq_table('titanic','passengers')

Deleted table 'titanic.passengers'.